---
layout: base
title: Electrum ABC
---

<div class="flex-content">
  <div id="ecashpage">
    <div class="ecash-section">
      <img src="/img/electrum-abc.png" alt="Electrum ABC" />
      <p>This wallet software is forked from <a href="https://electroncash.org/index.html" target="_blank">Electron Cash</a>, with modifications to facilitate use on the <a href="http://bitcoinabc.org/ecash">eCash network</a>.</p>
      <p><a href="https://t.me/ElectrumABC" target="_blank">Join the Electrum ABC telegram group</a> to get in contact with developers or to get help from the community.</p>
      <p>Upon first use, the software will automatically copy existing Electron Cash wallet files into a new folder specific to Electrum ABC. This allows users to maintain separate wallet histories for either network going forward, and run Electron Cash and Electrum ABC simultaneously to ease coin splitting.</p>
      <p class="electrum-note">NOTE: The coins in the wallet will not split automatically. To ensure that transactions are not replayed between Bitcoin Cash and eCash networks, please refer to one of the coin splitting guides linked at <a href="/ecash#split">bitcoinabc.org/ecash</a> and make sure your pre-fork coins are safely split prior to transacting on either network.</p>
    </div>

    {% assign releases = site.data.github-releases-electrum %}
    {% assign bcha_versions_prefix = "4.3." %}

    {% if releases.size > 0 %}
      {% assign latestVersion = releases[0].tag_name %}

      <div class="hero-box">
        <h1>Download Electrum ABC {{ latestVersion }}</h1>

        <div style="margin: 6px">Published: {{ releases[0].published_at | date: "%a %b %e %Y" }}</div>

        <div>
          <a class="btn btn-primary download-button" href="https://github.com/Bitcoin-ABC/ElectrumABC/releases/download/{{ latestVersion }}/ElectrumABC-{{ latestVersion }}-x86_64.AppImage">
            <i class="fab fa-linux"></i>
            Linux
          </a>
          <a class="btn btn-primary download-button" href="https://github.com/Bitcoin-ABC/ElectrumABC/releases/download/{{ latestVersion }}/ElectrumABC-{{ latestVersion }}-macosx.dmg">
            <i class="fab fa-apple"></i>
            OSX
          </a>
          <a class="btn btn-primary download-button" href="https://github.com/Bitcoin-ABC/ElectrumABC/releases/download/{{ latestVersion }}/ElectrumABC-{{ latestVersion }}-setup.exe">
            <i class="fab fa-windows"></i>
            Windows
          </a>
          <a class="btn btn-primary download-button" href="https://github.com/Bitcoin-ABC/ElectrumABC/releases/download/{{ latestVersion }}/ElectrumABC-{{ latestVersion }}.tar.gz">
            <i class="fas fa-code-branch"></i>
            Source Snapshot
          </a>
        </div>
      </div>

      <div class="hero-box">
        Read the release notes on <a href="https://github.com/Bitcoin-ABC/ElectrumABC/blob/master/RELEASE-NOTES.md">Github</a>.
      </div>

      <!-- Offset the version anchor of the first past release up here so that the top of the table is in view -->
      <a class="offset-anchor" id="{{ releases[1].tag_name }}"></a>

      <div style="text-align: center;">
        {% assign pastReleases = releases | slice:1,15 %}
        {% if pastReleases.size > 0 %}
        <h2>Past Releases</h2>
        <table style="margin: 0 auto;">
          <tbody>
            <tr>
              <td>Version</td>
              <td>Published</td>
              <td>Downloads</td>
            </tr>
          {% for release in pastReleases %}
            {% assign version = release.tag_name %}
            {% unless version contains bcha_versions_prefix %}
            <tr>
              <td>
                {{ version }}
              </td>
              <td>{{ release.published_at | date: "%Y %b %e" }}</td>
              <td>
                <a class="btn btn-primary" href="https://github.com/Bitcoin-ABC/ElectrumABC/releases/download/{{ version }}/ElectrumABC-{{ version }}-x86_64.AppImage">
                  <i class="fab fa-linux"></i>
                </a>
                <a class="btn btn-primary" href="https://github.com/Bitcoin-ABC/ElectrumABC/releases/download/{{ version }}/ElectrumABC-{{ version }}-macosx.dmg">
                  <i class="fab fa-apple"></i>
                </a>
                <a class="btn btn-primary" href="https://github.com/Bitcoin-ABC/ElectrumABC/releases/download/{{ version }}/ElectrumABC-{{ version }}-setup.exe">
                  <i class="fab fa-windows"></i>
                </a>
                <a class="btn btn-primary" href="https://github.com/Bitcoin-ABC/ElectrumABC/releases/download/{{ version }}/ElectrumABC-{{ version }}.tar.gz">
                  <i class="fas fa-code-branch"></i>
                </a>
              </td>
            </tr>
            {% endunless %}
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    {% else %}
      <h3 style="text-align: center"><a href="https://github.com/Bitcoin-ABC/ElectrumABC/releases">Download Electrum ABC on Github</a></h3>
    {% endif %}
  </div>
</div>

