---
layout: page
use-site-title: true
---
<link rel="stylesheet" href="overrides.css">
<div id="content">
  <img src="img/bitcoinabclogo.png">
  <div id="description">
    Bitcoin ABC is a full node implementation of the <a href="https://www.bitcoincash.org">Bitcoin Cash</a> protocol.
    <span id="subtext">
      <br>
      We aim to provide a solid, stable software and help lead Bitcoin Cash
      <br>
      protocol development with an open and collaborative process.
    </span>
  </div>
  <hr>
  <div id="notice">
    <span style="font-size:1.1em; font-weight: bold">Prepare for the May 2019 protocol upgrade today!</span>
    <br>
    The release below contains <a href="https://github.com/bitcoincashorg/bitcoincash.org/blob/master/spec/2019-05-15-upgrade.md">protocol upgrades</a> scheduled to activate on May 15th, 2019. Update early to keep your node in sync with the Bitcoin Cash network.
    <br>
    <span style="font-weight: bold">Install the latest version (0.19.1):</span>
    <br>
    <a style="margin-right: 1em;" href="https://github.com/Bitcoin-ABC/bitcoin-abc">Source Code</a>
    <a style="margin-left: 1em;" href="https://download.bitcoinabc.org/">Binaries</a>
    <br>
    Participate in the protocol upgrade testnet <a style="margin-right: 1em;" href="https://github.com/bitcoincashorg/bitcoincash.org/blob/master/workgroups/wg-testing/2019-05-15_upgrade_testnet.md">here</a>
  </div>
  
  <!–– Twitter feed embed code ––>
  <a class="twitter-timeline" data-height="450" href="https://twitter.com/Bitcoin_ABC?ref_src=twsrc%5Etfw">Tweets by Bitcoin_ABC</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  
  {% assign english_posts = site.posts | where: "lang", "en" %}
  {% assign first_posts = english_posts | slice: 0, site.front_page_posts %}
  <div class="posts-list">
    {% for post in first_posts %}
    <article class="post-preview">
      <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>

      {% if post.subtitle %}
      <h3 class="post-subtitle">
        {{ post.subtitle }}
      </h3>
      {% endif %}
      </a>

      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <div class="post-entry-container">
        {% if post.image %}
        <div class="post-image">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img src="{{ post.image }}">
          </a>
        </div>
        {% endif %}
        <div class="post-entry">
          {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
          {% assign excerpt_word_count = post.excerpt | number_of_words %}
          {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read More]</a>
          {% endif %}
        </div>
      </div>

      {% if post.tags.size > 0 %}
      <div class="announcement-tags">
        Tags:
        {% if site.link-tags %}
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
        {% endfor %}
        {% else %}
          {{ post.tags | join: ", " }}
        {% endif %}
      </div>
      {% endif %}

     </article>
    {% endfor %}
  </div>
</div>
