---
layout: page
use-site-title: true
---
<link rel="stylesheet" href="overrides.css">
<div id="content">
  <img style="width: 100%; max-width: 800px" src="img/bitcoinabclogo.png">
  <div id="description">
    Bitcoin ABC is a full node implementation of the <a href="https://www.bitcoincash.org">Bitcoin Cash</a> protocol.
    <span id="subtext">
      <br>
      We aim to provide a solid, stable software and help lead Bitcoin Cash
      <br>
      protocol development with an open and collaborative process.
    </span>
  </div>
  <hr>
  <div id="notice">
    {% assign latestVersion = site.data.github-releases[0].name %}
    <span style="font-weight: bold">Install the latest version ({{ latestVersion }}):</span>
    <br>
    <a style="margin-right: 1em;" href="https://github.com/Bitcoin-ABC/bitcoin-abc">Source Code</a>
    <a style="margin-left: 1em;" href="/releases/">Binaries</a>
    <br>
    <span style="font-weight: bold">Packages:</span>
    <br>
    <a style="margin-right: 1em;" href="https://hub.docker.com/r/zquestz/bitcoin-abc">Docker</a>
    <a style="margin-left: 1em;" href="https://aur.archlinux.org/packages/bitcoin-abc/">Arch Linux</a>
    <a style="margin-right: 1em;" href="https://aur.archlinux.org/packages/bitcoin-abc-qt/">(Qt)</a>
    <a style="margin-left: 1em;" href="https://launchpad.net/~bitcoin-abc/+archive/ubuntu/ppa">Ubuntu</a>
  </div>

  <!–– Twitter feed embed code ––>
  <a class="twitter-timeline" data-height="450" href="https://twitter.com/Bitcoin_ABC?ref_src=twsrc%5Etfw">Tweets by Bitcoin_ABC</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- Blog feed -->
  <div class="abc-blog-feed">
    {% if site.data.blog-feed %}
    {% assign blogFeedItems = site.data.blog-feed.items | reverse %}
    {% for post in blogFeedItems limit:3 %}
      <article class="post-preview">
        <a href="{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a>
        <p class="post-meta">Posted on {{ post.date_published | date: "%a %b %e %Y" }}</p>
        <div class="post-entry-container"><div class="post-entry">
          {{ post.content_text }}
        </div></div>
        <a class="post-read-more" href="{{ post.url }}">[Read More]</a>
      </article>
    {% endfor %}
    {% endif %}
  </div>

  <div style="font-size: 24px">
    <a href="/announcements/" class="post-read-more">Older Announcements</a>
  </div>

  <!-- 2020 fundraiser sponsor logos -->
  <hr>
  <div id="fundraiser">
    <h2 style="font-size:42px;">Supporters</h2>
    <p>Bitcoin ABC relies on sponsorships to fund all its work, including devops, maintenance, backports, development, release management, technical support and more. Become a supporter today at <a target="_fund" href="https://fund.bitcoinabc.org/">fund.bitcoinabc.org</a>.</p>
    <p><a target="_fund" href="https://fund.bitcoinabc.org/"><img src="img/sponsors/sponsor.png" height="100" width="500" alt="Sponsor Bitcoin ABC today at fund.bitcoinabc.org" /></a></p>
    <div class="sponsor-container">
      <div class="sponsor"><a target ="_sponsor6" href="https://gemini.com/"><img src="img/sponsors/Gemini.png" height="200" width="219" alt="Visit gemini.com" /></a></div>
      <div class="sponsor"><a target ="_sponsor1" href="https://spicetoken.org/"><img src="img/sponsors/spice.png" height="200" width="175" alt="Visit spicetoken.org" /></a></div>
      <div class="sponsor"><a target ="_sponsor4" href="https://fullstack.cash/"><img src="img/sponsors/fullstackcash.png" height="200" width="199" alt="Visit fullstack.cash" /></a></div>
      <div class="sponsor"><a target ="_sponsor2" href="https://twitter.com/BCHcain"><img src="img/sponsors/bchcain.jpg" height="100" width="82" alt="Visit twitter.com/BCHcain" /></a></div>
	   <div class="sponsor"><a target ="_sponsor5" href="https://twitter.com/ericreid91"><img src="img/sponsors/ericreid.png" height="100" width="94" alt="Visit twitter.com/ericreid91" /></a></div>
    </div>
  </div>
</div>
