div#content {
	text-align: center;
}

div#content > div {
	margin-top: 1em;
	margin-bottom: 1em;
}

span#subtext {
	font-size: .8em;
}

#content .post-preview .post-read-more {
  font-weight: normal;
  color: #0066CC;
}
