---
layout: page
title: Bitcoin ABC Releases
subtitle: Download the latest Bitcoin ABC software
---

{% assign releases = site.data.github-releases %}
{% assign latestVersion = releases[0].name %}

<div class="hero-box">
  <h1>Download Bitcoin ABC {{ latestVersion }}</h1>

  <div style="margin: 6px">Published: {{ releases[0].published_at | date: "%a %b %e %Y" }}</div>

  <div>
    <a class="btn btn-primary download-button" href="https://download.bitcoinabc.org/latest/linux/bitcoin-abc-{{ latestVersion }}-x86_64-linux-gnu.tar.gz">
      <i class="fab fa-linux"></i>
      Linux
    </a>
    <a class="btn btn-primary download-button" href="https://download.bitcoinabc.org/latest/osx/bitcoin-abc-{{ latestVersion }}-osx-unsigned.dmg">
      <i class="fab fa-apple"></i>
      OSX
    </a>
    <a class="btn btn-primary download-button" href="https://download.bitcoinabc.org/latest/win/bitcoin-abc-{{ latestVersion }}-win64-setup-unsigned.exe">
      <i class="fab fa-windows"></i>
      Windows
    </a>
    <a class="btn btn-primary download-button" href="https://download.bitcoinabc.org/latest/src/bitcoin-abc-{{ latestVersion }}.tar.gz">
      <i class="fas fa-code-branch"></i>
      Source Snapshot
    </a>
  </div>

  <div style="margin-top: 20px">
    <h4>Packages</h4>
    <a class="btn btn-primary download-button" href="https://launchpad.net/~bitcoin-abc/+archive/ubuntu/ppa/">
      <i class="fab fa-ubuntu"></i>
      Ubuntu
    </a>
    <div class="btn-group">
      <a class="btn btn-primary download-button" style="border-right: solid 5px #1e5d94;" href="https://aur.archlinux.org/packages/bitcoin-abc/">
        Arch Linux
      </a>
      <a class="btn btn-primary download-button" href="https://aur.archlinux.org/packages/bitcoin-abc-qt/">
        (Qt)
      </a>
    </div>
    <a class="btn btn-primary download-button" href="https://hub.docker.com/r/zquestz/bitcoin-abc/">
      <i class="fab fa-docker"></i>
      Docker
    </a>
  </div>
  <div style="margin-top: 20px;">
    For the latest source code, see <a href="https://github.com/Bitcoin-ABC/bitcoin-abc">Github</a>.
  </div>
</div>

{% capture include_release_notes %}{% include_relative abc_md_docs/doc/release-notes/release-notes-{{ latestVersion }}.md %}{% endcapture %}
{{ include_release_notes | markdownify }}

<hr />

<div style="text-align: center;">
  <h2>Past Releases</h2>
  <table style="margin: 0 auto;">
    <tbody>
      <tr>
        <td>Version</td>
        <td>Published</td>
        <td>Downloads</td>
        <td>Release Notes</td>
      </tr>
    {% assign pastReleases = releases | slice:1,15 %}
    {% for release in pastReleases %}
    {% assign version = release.name %}
      <tr>
        <td>{{ version }}</td>
        <td>{{ release.published_at | date: "%Y %b %e" }}</td>
        <td>
          <a class="btn btn-primary" href="https://download.bitcoinabc.org/latest/linux/bitcoin-abc-{{ version }}-x86_64-linux-gnu.tar.gz">
            <i class="fab fa-linux"></i>
          </a>
          <a class="btn btn-primary" href="https://download.bitcoinabc.org/latest/osx/bitcoin-abc-{{ version }}-osx-unsigned.dmg">
            <i class="fab fa-apple"></i>
          </a>
          <a class="btn btn-primary" href="https://download.bitcoinabc.org/latest/win/bitcoin-abc-{{ version }}-win64-setup-unsigned.exe">
            <i class="fab fa-windows"></i>
          </a>
          <a class="btn btn-primary" href="https://download.bitcoinabc.org/latest/src/bitcoin-abc-{{ version }}.tar.gz">
            <i class="fas fa-code-branch"></i>
          </a>
        </td>
        <td><a href="/doc/release-notes/release-notes-{{ version }}.html">{{ version }} Release Notes</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <h3>For older releases, see <a href="https://download.bitcoinabc.org/">Archived Releases</a></h3>
</div>
