---
layout: base
title: Network Upgrade
---

{% assign oldVersion = "0.30.13" %}

<!-- Use the next minor in instructions even if it's not released yet -->
{% assign latestVersion = site.data.github-releases[0].name %}
{% assign latestMinorVersion = site.data.github-releases[0].name | slice: 0, 4 %}
{% if latestMinorVersion != "0.31" %}
  {% assign latestVersion = "0.31.0" %}
{% endif %}

<div class="flex-content">
  <div id="upgradepage">
    <div class="ecash-section">
      <img src="/img/Upgrade-2025-05-15.jpg" alt="May 15, 2025 Upgrade">
      <h2>What happened?</h2>
      <p>The planned upgrade of the eCash network has successfully been completed. The first post-upgrade block is block number <a href="https://explorer.e.cash/block/0000000000000000051b048b2d7801b854dbbe3fcdf8f28e995d2bbbd29e7cf5">896974</a>.</p>
      <h2>Who needs to upgrade?</h2>
      <p>All operators of a Bitcoin ABC full node must upgrade to the latest major version ({{ latestVersion }}). This includes node operators, Avalanche staking nodes, Miners and Exchanges. The up-to-date node version is available at our <a href="/releases/">Releases</a> page.</p>
      <h2>What features are included in the Network Upgrade?</h2>
      <p>This upgrade does not include any new protocol features. However, because of the automatic replay protection that is part of the 6-month upgrade cadence, it is necessary for all full node operators to upgrade to 0.31.x.</p>
      <p>Miners need to update their setup according to the instructions on the <a href="https://e.cash/mining">eCash Mining page</a>.</p>
      <h2>How do I upgrade?</h2>
      <p>The process of upgrading your node is straightforward: simply stop the currently running node, download the new version, and start the new version. Here are some example instructions for upgrading from version {{ oldVersion }} to the {% if latestVersion == site.data.github-releases[0].name %}latest{% else %}upcoming{% endif %} version ({{ latestVersion }}) on Linux:
        <ul>
          <li>Shut down the node: <code>./bitcoin-abc-{{ oldVersion }}/bin/bitcoin-cli stop</code></li>
          <li>Download the new version archive from the website: <code>wget https://download.bitcoinabc.org/{{ latestVersion }}/linux/bitcoin-abc-{{ latestVersion }}-x86_64-linux-gnu.tar.gz</code></li>
          <li>Extract the archive: <code>tar xzf bitcoin-abc-{{ latestVersion }}-x86_64-linux-gnu.tar.gz</code></li>
          <li>Restart the node with the new version: <code>./bitcoin-abc-{{ latestVersion }}/bin/bitcoind -daemon</code></li>
          <li>Clean up old version and archives (optional):
            <ul>
              <li><code>rm -rf bitcoin-abc-{{ oldVersion }}</code></li>
              <li><code>rm -f bitcoin-abc-{{ oldVersion }}-x86_64-linux-gnu.tar.gz</code></li>
              <li><code>rm -f bitcoin-abc-{{ latestVersion }}-x86_64-linux-gnu.tar.gz</code></li>
            </ul>
          </li>
        </ul>
      </p>
      <h2>Do I need to upgrade my wallet?</h2>
      <p>The network upgrade only affects full nodes. Other eCash software, including wallets such as <a href="/electrum/">Electrum ABC</a> are not affected by the network upgrade.</p>
    </div>
  </div>
</div>
