<footer>
  <div style="margin: 0 auto; padding-bottom: 10px;">
    {% if page.title != "Bitcoin ABC" %}
    {% include mailer.html %}
    {% endif %}
  </div>
  <ul class="flex-row list-inline footer-links">
    {%- for link in site.social-network-links -%}
    {%- assign curkey = link[0] -%}
    {%- assign element = site.data.SocialNetworks[curkey] -%}
    <li>
      {%- if curkey == 'rss' -%}
      <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="{{ element.name }}">
      {%- elsif curkey == 'yelp' -%}
      <a href="https://{{ site.social-network-links[curkey] }}.yelp.com" title="{{ element.name }}">
      {%- else -%}
      <a href="{{ element.baseURL }}{{ site.social-network-links[curkey] }}" title="{{ element.name }}">
      {%- endif -%}
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="{{ element.iconClasses }} fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">{{ element.name }}</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  <div class="flex-row footer-donation-addr">
    You can help us by making a <a href="https://explorer.bitcoinabc.org/address/qqeht8vnwag20yv8dvtcrd4ujx09fwxwsqqqw93w88">BCHA</a> 
    or <a href="https://explorer.bitcoincash.org/address/qqeht8vnwag20yv8dvtcrd4ujx09fwxwsqqqw93w88">Bitcoin Cash</a> donation to:
    <br />
    qqeht8vnwag20yv8dvtcrd4ujx09fwxwsqqqw93w88
  </div>
  <div class="flex-row">
    Support is welcome as long as you understand that any funds sent are considered a donation to be used at the sole discretion of Bitcoin ABC.
  </div>
  <div class="flex-row">
    Found a bug? See our <a href="/DISCLOSURE_POLICY.html">disclosure policy</a>.
  </div>
  <div class="flex-row copyright text-muted">
    Copyright 2017-2020 {{ site.author.name }}
  </div>
</footer>
