<script>
  function updateUpgradeNotice() {
    const activationTime = 1731672000;
    // The upgrade usually happens 1h after the time (due to being based on MTP).
    // However it can take a bit more time due to variance. Let's be pessimistic
    // and add a safety margin of 3h. Worst case the message is updated a bit
    // late, and otherwise it's enough time for some dev to update this page
    // manually after the update completed.
    const switchTime = activationTime + 1 * 3600
    const secondsInAWeek = 604800;

    // When the upgrade activation is 10 weeks away, make the upgrade notice visible
    const unixTime = Math.floor((new Date()).getTime() / 1000);
    if ((unixTime > activationTime - 10 * secondsInAWeek) && (unixTime <= switchTime)) {
      $("#upgrade-notice-pre-activation").css("display", "");
    }

    // For the week following the upgrade activation, show a message for late-comers
    if ((unixTime > switchTime) && (unixTime < activationTime + secondsInAWeek)) {
      $("#upgrade-notice-post-activation").css("display", "");
    }
  }
  document.addEventListener('DOMContentLoaded', updateUpgradeNotice);
</script>

<div id="upgrade-notice-pre-activation" class="hero-box" style="background: #ffe090; display: none;">
  <h3>Prepare for the November 2024 upgrade today!</h3>
  On November 15th, 2024, the eCash network will upgrade.
  When the median time of the last 11 blocks is over timestamp 1731672000 (12:00:00 UTC),
  the nodes running a version prior 0.30.0 will no longer be in sync with the eCash network.
  <br />
  In order to keep running after November 15th, 2024, your node needs to
  be updated to version 0.30.0 or later.<br />
  Update early to keep your node in sync with the eCash network !
  <br />
  See our <a href="/upgrade">upgrade page</a> for more details.
</div>

<div id="upgrade-notice-post-activation" class="hero-box" style="background: #ffb0a0; display: none;">
  <h3>The November 2024 upgrade has activated!</h3>
  If you forgot to upgrade to 0.30.0 or later, your node is no longer in sync with the rest of the eCash network!
  <br />
  Upgrade to the latest release <a href="/releases">here</a>.
  <br />
  See our <a href="/upgrade">upgrade page</a> for more details.
</div>
