<div class="hero-box" style="background: #ffd070;">
  <h3>Prepare for the November 2020 protocol upgrade today!</h3>
  <div>
    All release versions 0.22.0 and later are compatible with the <a href="https://blog.bitcoinabc.org/2020/09/14/preparing-businesses-for-a-successful-network-upgrade/">planned protocol upgrade</a> that is scheduled to activate on <span style="font-weight: bold">November 15th, 2020</span>. Update early to keep your node in sync with the Bitcoin Cash network.
  </div>
</div>
