<script>
  function updateUpgradeNotice() {
    const activationTime = 1636977600;
    const secondsInAWeek = 604800;

    // When the upgrade activation is 10 weeks away, make the upgrade notice visible
    const unixTime = Math.floor((new Date()).getTime() / 1000);
    if ((unixTime > activationTime - 10 * secondsInAWeek) && (unixTime <= activationTime)) {
      $("#upgrade-notice-pre-activation").css("display", "");
    }

    // For the week following the upgrade activation, show a message for late-comers
    if ((unixTime > activationTime) && (unixTime < activationTime + secondsInAWeek)) {
      $("#upgrade-notice-post-activation").css("display", "");
    }
  }
  document.addEventListener('DOMContentLoaded', updateUpgradeNotice);
</script>

<div id="upgrade-notice-pre-activation" class="hero-box" style="background: #ffe090; display: none;">
  <h3>Prepare for the Nov 2021 upgrade today!</h3>
  On Nov 15th, 2021, the eCash network will upgrade.
  When the median time of the last 11 blocks is over timestamp 1636977600 (12:00:00 UTC),
  the nodes running a version prior 0.24.0 will no longer be in sync with the eCash network.
  <br />
  In order to keep running after Nov 15th, 2021, your node needs to
  be updated to version 0.24.0 or later.<br />
  Update early to keep your node in sync with the eCash network !
</div>

<div id="upgrade-notice-post-activation" class="hero-box" style="background: #ffb0a0; display: none;">
  <h3>The Nov 2021 upgrade has activated!</h3>
  If you forgot to upgrade to 0.24.0 or later, your node is no longer in sync with the rest of the eCash network!
  Upgrade to the latest release below.
</div>
