---
layout: page
title: RPC Documentation by Version
permalink: doc/
---
<link rel="stylesheet" href="/overrides.css">
<div id="content" style="font-size: 26px">
  <ul>
    {% for version in page.versions %}
      {% assign rpccommand = site.doc | where:"version",version | first %}
      {% if rpccommand %}
        <li><a href="{{ rpccommand.url }}">{{ version }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- TODO: Remove this line once the footer is correctly floated
to the bottom of the page -->
<div style="margin-bottom: 250px"></div>
