---
layout: page
title: Documentation by Version
permalink: doc/
---
<link rel="stylesheet" href="/overrides.css">
<div id="content" style="font-size: 26px">
  <table style="min-width: 90%">
    <tbody>
      {% for version in page.versions %}
        <tr>
          <td><strong>{{ version }}</strong></td>
          {% assign rpccommand = site.doc | where:"version",version | where:"category","rpc" | first %}
          <td>{% if rpccommand %}<a href="{{ rpccommand.url }}">RPC documentation</a>{% endif %}</td>
          {% assign manpage = site.doc | where:"version",version | where:"category","man" | first %}
          <td>{% if manpage %}<a href="{{ manpage.url }}">Man pages</a>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- TODO: Remove this line once the footer is correctly floated
to the bottom of the page -->
<div style="margin-bottom: 250px"></div>
